<h1 class="title">健康專欄

<%= link_to("新增文章", new_article_path, :class=> 'btn btn-info btn-lg btn-newarticle')%>
</h1>
<hr>

<% @articles.each do |article|%>
<div class="row well">

  <%= link_to article_path(article) do %>
  <div class="col-md-4 img-box">

      <%= image_tag(article.image_url, :class=>"img-rounded") %>

    <!--
    <img src="http://placehold.it/300x300&text=No Pic" ></img>
    -->
  </div>

  <div class="col-md-8" >

    <h1><%= article.title %>
        <%= link_to '編輯', edit_article_path(article), :class=> 'btn btn-info btn-lg' %>
        <%= link_to '刪除',article_path(article), method: :delete , :class=> 'btn btn-danger btn-lg' %>

    </h1>
    
    <hr>
    <h4><%= simple_format(truncate(article.description, :length=>150))%></h4> 
    <!--
    <div class="readmore">
      <%#= link_to '閱讀更多', new_article_path(article)%>
    </div> 
    -->  
  </div>


  <%end%>
</div>
<%end%>